# Файли та папки, які не потрібно пушити
venv/         # Віртуальне середовище

*.pyc         # Зкомпільовані Python-файли
.idea/        # Налаштування PyCharm
db.sqlite3    # Локальна база даних (якщо є)
.env          # Файл з секретними змінними