# Ігнорування віртуального середовища
venv/
.venv/

# Ігнорування бази даних SQLite
db.sqlite3

# Ігнорування кешованих файлів Python
__pycache__/
*.pyc
*.pyo

# Ігнорування конфігурації PyCharm
.idea/